* {min-width: auto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
@keyframes Animationin{
    from{
        transform: translateY(-300px)
    }
    to{
        transform: translateY(0px)
    }
}
.Animationin{
    text-align: center;
    from{
        transform: translateY(-300px)
    }
    to{
        transform: translateY(0px)
    }
    animation: Animationin 0.6s ease-in ;
}


body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    background-image: url(img/architecture-3592318_1920.jpg);
    background-size: cover;
    background-position: center;
    image-resolution: from-image;
    background-attachment: fixed;
}
nav, main, section, footer {
    display: block;
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px;
    
}
header {
    background-color: transparent ;
    color: #fff;
    border-radius: 0 0 8px 8px;
    display: block;
    margin: 0 auto;
    max-width: 1900px;
    padding: 20px;
   
}
header h1 {
    font-size: 3rem;
    text-align: center;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}
nav a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}
section {
    background: #fff;
    margin-top: 20px;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
section h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #0a9396;
}
section p {
    margin-bottom: 10px;
    text-align: justify;
}
footer {
    text-align: center;
    font-size: 0.9rem;
    color: #fafafa;
    margin-top: 40px;
    background-color: transparent;
}



.lado {

display: flex;               
justify-content: space-between;
gap: 20px;    
flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px; 
    text-align: center;

}
.estilo-lado {
display: flex;
align-items: center;
justify-content: center;;
flex: 1;                        
padding: 10px;
background: #a3a0a0;
border-radius: 20px;
transition: all 0.5s;
gap: 80px; 

}
.estilo-lado:hover{
flex: 1;
padding: 10px;
border-radius: 20px;
background-color: #0a9396;
box-shadow: 5px 12px 30px #0a9396; ;
}

.texto-img{
display: flex;
align-items: center;
gap: 80px; 
justify-content: space-between;
flex-wrap: wrap;
margin-top: 20px;
margin-bottom: 20px;
width:100%;
max-width:5000px;
border-radius:10px;
margin-bottom:16px;


}



.texto-img img{
float: right;
margin-left: 20px;
max-width: 300px;
height: auto;
}
.texto-img2{
display: flex;
align-items: center;
gap: 80px; 
justify-content: space-between;
flex-wrap: wrap;
margin-top: 20px;
margin-bottom: 20px;
width:100%;
max-width:5000px;
border-radius:10px;
margin-bottom:16px;
}
.texto-img2 img{
float: right;
justify-content: center;
align-items: center;
gap: 80px;
max-width: 1080px;
height: auto;
}
.texto {
overflow: hidden;
align-content: center;
width: 100%;
height: 100%;
}
.img{
size: 100%;
max-width: 100%;
height: auto;


}


.img2{
float: left;
margin-right: 20px;
max-width: 5%;
height: auto;
}
h2{
    margin-top: 20px;
    max-width: 10000px;
    justify-content: center;
    align-items: center;
    display: flex;
}

@media only screen and (max-width: 1080px){
body{
flex-wrap: wrap;
background-image: url(img/architecture-3592318_1920.jpg);
background-size: cover;
background-position: center;
}
.texto-img{
flex-direction: column;
align-items: center;
gap: 0px;
text-size-adjust: auto;
margin-top: 20px;
}
.texto-img2 img{
float: none;
margin-left: 0px;
max-width: 100%;
height: auto;
justify-content: center;
    align-items: center;
    display: flex;
}

}
.centerimg{
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
    text-align: center;
}
p{
    text-align: justify;
    margin-bottom: 10px;
    text-size-adjust: auto;
    margin-top: 20px;
    max-width: 10000px;
    justify-content: center;
    align-items: center;
    display: flex;
}
